.Rhistory
.Rapp.history
.RData
.RDataTmp
.Rproj.user

**/.DS_Store
stan/
R/old_files
data/old_data
julia/old_files

ImprovedDirichlet/.Rproj.user
ImprovedDirichlet/.Rbuildignore
ImprovedDirichlet/.Rhistory
